@import url('https://fonts.googleapis.com/css?family=Spicy+Rice');
html{
    height: 100%;
    overflow: hidden;
}
body{
   
    margin: 0;
    padding: 0;
    background: rgb(230, 228, 224);
    background-image:url("Images/surf.jpg");
    background-size: cover; 
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: "Luna";
}

header{
    box-sizing: border-box;
    min-height: 100vh;
    padding: 30vw 0 5vw;
    position: relative;
    transform-style: inherit;
    width: 100vw;
}


header h1{
    margin-top: -100px;
    

}


h1{
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color:rgb(255, 255, 255);
    font-size: 45px;
    text-shadow: 0 2px 5px rgba(0,0,0,.5);
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 100px;
    box-sizing: border-box;
    transition: .5s;

}

nav .logo
{
    float: left;
}
nav .logo img
{
    height: 80px;
    transition: .5s;

}

nav ul
{
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li
{
    list-style: none;
}
nav ul li a
{
    line-height: 80px;
    color: #262626;
    padding: 5px 20px;
    font-family: 'Spicy Rice', cursive;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
}

nav ul li a.active,
nav ul li a:hover{
    color:#fff;
    background: #f00;
}

section .sec1
{
    width: 100%;
    height: 100vh;
    

}

#particles-js{
  height: auto;
}


